.idea/
/NodeJS/JSONDataService/node_modules/
/NodeJS/JSONDataService/package-lock.json
NodeJS/MongoDataApp/package-lock.json
NodeJS/MongoDataApp/node_modules/
/NodeJs/TestExpressGenerator/
NodeJs/test encryption/package-lock.json
NodeJs/test encryption/package.json
NodeJs/test encryption/node_modules/